body { background: #656fc6; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 47px; display: flex; }
.block-validator-0 { color: #b790dc; font-size: 14px; margin-bottom: 5px; }
.block-email-1 { color: #cc197b; font-size: 19px; margin-bottom: 5px; }
.block-config-2 { color: #f8b3d2; font-size: 17px; margin-bottom: 5px; }
.block-token-3 { color: #be72f4; font-size: 14px; margin-bottom: 5px; }
.block-config-4 { color: #3b52f1; font-size: 17px; margin-bottom: 5px; }